# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @rathiabhishek1998

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
apis/poi/    @rathiabhishek1998 
apis/trips/  @SivaDharrshini07 @kanz95       
apis/user-java/  @SivaDharrshini07   
apis/userprofile/  @rathiabhishek1998 
# You can also use email addresses if you prefer.
